* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background: linear-gradient(to left, #ff0000, #89cff0 80%);
    margin: 0 auto;
    letter-spacing: 0.05em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*================================================
        Headers
    ============================================*/
.coverheader {
    padding-top: 45px;
    height: 800px;
    background: linear-gradient(#89cff0, transparent 90%),
    url('../images/cover.svg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;
    text-shadow: 2px 3px 3px red;
    line-height: 0.8;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Ranga', cursive;
}
h1 {
    font-size: 5.5rem;
}
h2 {
    font-size: 3.5rem;
    padding-top: 2px;
}
.hr {
    width: 50%;
}
.chiflag {
    width: 25%;
    box-shadow: 5px 8px 3px red;
}
.chiflag:hover {
    width: 50%;
}
.start {
    max-width: 960px;
    margin: 0 auto;
}
.about {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.3em;
}
h3 {
    font-size: 3em;
}
/*================================================
       chicago river
    ============================================*/
.chicago-river {
    float: left;
    padding: 10px;
    width: 49%;
}
.river-img {
    width: 100%;
    height: 310px;
}
.header-river {
    text-shadow: 1px 3px 3px red;
    text-align: center;
    line-height: 1.5;
}
.chicago-river p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2;
}
.chicago-river a {
    text-decoration: none;
    color: red;
}
.chicago-river a:hover {
    font-size: 1.4em;
}
/*================================================
        sears tower
    ============================================*/
.sears-tower {
    width: 49%;
    float: right;
    padding: 10px
}
.tower-img {
    width: 100%;
    height: 310px;
}
.tower-header {
    text-shadow: 1px 3px 3px #89cff0;
    text-align: center;
    line-height: 1.5;
}
.sears-tower p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2;
}
.sears-tower a {
    color: #89cff0;
    text-decoration: none;
}
footer {
    text-align: center;
    background:linear-gradient(to right,red,#89cff0);
    height: 25px;
    /*================================================
        clearfix
    ============================================*/
}
.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*================================================
        Media Queries
    ============================================*/

    @media (min-width: 401px) and (max-width: 600px) {
        .coverheader {
            height: 700px;
        }
        .chicago-river {
            float: none;
            width: 100%;
            padding: 15px;
        }
        .sears-tower {
            float: none;
            width: 100%;
            padding: 15px;
        }
    
    }
    @media (max-width: 400px) {
        .chiflag {
            display: none;
        }
        .hr {
            display: none;
        }
        .coverheader {
            height: 565px;
            background-size: contain;
            line-height: .5;
            border-bottom: 1px solid #fff;
        }
        body {
        
            font-size: 1.2em;
        }
        .chicago-river {
            float: none;
            width: 100%;
            margin-top: 12px;
           
        }
        .chicago-river a {
            color:#89cff0;
        }
        .sears-tower {
            float: none;
            width: 100%;
        }
        .about p {
            padding-top: 25px;
        }
        h3 {
            font-size: 2.5em;
        }

        footer {
            background: gray;
        }

    }

    @media(min-width: 1275px) {
        p,
        .sears-tower p,
        .chicago-river p
        {
            font-size: 1.5em;
        }
        .chiflag:hover {
            width: 20%;
        }
        h1 {
            font-size: 8.5em;
        }
        h2 {
            font-size: 6.5em;
        }
        h3 {
            font-size: 4.2em;
        }

        .coverheader {
            height: 900px;
            padding-top: 0.1px;
        }
        .hr {
            width: 90%;
        }
    }